{% extends "mysite/base.html" %}
{% load static %}

{% block body %}
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url({% static 'mysite/images/hero_1.jpg' %});" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Contact Us</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Contact Us</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    div class="apply_job_form white-bg">
    <h4>Apply for the job</h4>
    <form action="#">
        <div class="row">
            <div class="col-md-6">
                <div class="input_field">
                    <label class="text-black" for="name">Full Name</label>
                    <input type="text" placeholder="Your name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <label class="text-black" for="name">Email</label>
                    <input type="text" placeholder="Email">
                </div>
            </div>

            <div class="col-md-12">
                <div class="input_field">
                    <textarea name="#" id="" cols="30" rows="10" placeholder="Coverletter"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload"
                                                                            aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile03"
                               aria-describedby="inputGroupFileAddon03">
                        <label class="custom-file-label" for="inputGroupFile03">Upload CV</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="submit_btn">
                    <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                </div>
            </div>
        </div>
    </form>
</div>




{% endblock body %}




<